* {
padding: 0px;
margin: 0px;
}

html,body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	line-height:1.25em;
}

.panelGrafo {
	position: relative;
	height: 100%;
}

.sigma-expand {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 90px;
	left: 0;
	background-color: #eee;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.gridMetrica{
	padding-left: 2px;
	font-size: 10pt;
	font-weight: bolder;
}

.iconRede {
	background-image: url(../imagens/5-128-16x16.png) !important;
	background-repeat: no-repeat;
}

.iconRede2 {
	background-image: url(../imagens/5-128CG-16x16.png) !important;
	background-repeat: no-repeat;
}

.iconExibir {
	background-image: url(../imagens/icone_busca.png) !important;
	background-repeat: no-repeat;
}

.iconAtualizar {
	background-image: url(../images/icone_atualizar.png) !important;
	background-repeat: no-repeat;
}

.buttonTable {
	border: none !important;
	background: none !important;
}